In [1]:
"""Import the required modules"""
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import timeit

Analyzing welding data by welding types

In [2]:
df2 = pd.read_csv('welding_data_by_welding_types.csv')
df2 = pd.get_dummies(df2).drop('welding_type_SAW', axis=1)
df2 = df2[['current',	'voltage',	'welding_speed',	'plate_thickness',
           'welding_type_GMAW',	'welding_type_GTAW',	'welding_type_SMAW',
           'heat_input',	'tensile_strength',	'flexural_strength',	'hardness_value']]
df2.head()

,current,voltage,welding_speed,plate_thickness,welding_type_GMAW,welding_type_GTAW,welding_type_SMAW,heat_input,tensile_strength,flexural_strength,hardness_value
0,160,32,120,6,0,1,0,1536,432.6,236.2,102.5
1,130,32,90,8,0,0,1,2218,332.8,270.2,96.4
2,100,28,120,8,0,1,0,840,382.4,360.8,86.4
3,160,28,90,10,0,1,0,1792,422.8,230.0,105.0
4,100,28,120,8,0,0,0,1400,385.5,276.5,128.4

Exploratory data analysis

In [3]:
# pos = 1
# for i in range(4):
#   print(f'\t{df2.columns[i].capitalize()} vs Response values')
#   plt.figure()
#   for j in range(8, 11):
#     plt.subplot(1, 3, pos)
#     plt.scatter(df2.iloc[:, i], df2.iloc[:, j])
#     plt.ylabel(df2.columns[j])
#     plt.xlabel(df2.columns[i])
#     pos += 1
#   plt.tight_layout()
#   plt.show()
#   print('\n')
#   pos = 1

Generate the necessary variables for modeling

In [4]:
X1 = df2.iloc[:, :7]
X = X1.to_numpy()
y1 = df2.iloc[:, -4:]
y = y1.to_numpy()

In [5]:
def MAD(y, y_pred):
    '''Calculates the Mean Absolute Deviation of two arrays of numbers
    Input: y(array), y_pred(array)
    Output: float
    '''
    import numpy as np

    return np.average(np.abs(y - y_pred))

In [6]:
def MAPE(y, y_pred):
    '''
    Calculates the relationship between the average prediction error
    and the average expected target error for several consecutive periods.

    Input: y(array), y_pred(array)
    Output: float
    '''
    import numpy as np

    # Calculate prediction error
    error = y - y_pred

    return np.average((np.abs(error)/y) * 100)

In [7]:
def TS(y, y_pred):
    '''
    This index is used to track the accuracy of the model

    Input: y(array), y_pred(array)
    Output: float
    '''
    import numpy as np

    def MAD(y, y_pred):
        '''Calculates the Mean Absolute Deviation of two arrays of numbers
        Input: y(array), y_pred(array)
        Output: float
        '''
        return np.average(np.abs(y - y_pred))

    return np.sum(y - y_pred) / MAD(y, y_pred)

Predicting individual response separately to optimize prediction

In [9]:
metrics = []
for h in range(5, 35, 5):
  for i in range(y.shape[1]):
    metric = [y1.columns[i], int(h)]
    cols = y[:, i]
    X_train, X_test, y_train, y_test = train_test_split(X, cols,random_state=1, test_size=0.2)

    tic = timeit.timeit() #Start timer
    sc_X = StandardScaler()
    X_trainscaled=sc_X.fit_transform(X_train)
    X_testscaled=sc_X.transform(X_test)
    reg = MLPRegressor(hidden_layer_sizes=(h,h,h),activation="relu" ,random_state=1, max_iter=1000000).fit(X_trainscaled, y_train)
    y_pred=reg.predict(X_testscaled)
    toc = timeit.timeit() #Stop timer

    # Display data
    print(f'\n{y1.columns[i]}: {int(h)} Nodes')
    a = []
    for j in range(len(y_test)):
        a.append([y_test[j], y_pred[j]])
    a_df = pd.DataFrame(a, columns=['Expected', 'Predicted'])
    display(a_df)

    # Calculate the necessary metrics
    r2 = r2_score(y_pred, y_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(mse)
    mad = MAD(y_test, y_pred)
    mape = MAPE(y_test, y_pred)
    ts = TS(y_test, y_pred)
    time = abs(toc - tic) * 100

    metric.extend([r2, mse, rmse, mad, mape, ts, time])   # Update metric
    metrics.append(metric)  # Undate metrics

metrics_df = pd.DataFrame(metrics, columns=['Variable', 'Nodes', 'R2', 'MSE', 'RMSE', 'MAD', 'MAPE', 'TS', 'Time'])

display(metrics_df)

    # print(f'R^2 for Response variable, {y1.columns[i].capitalize()}: {(r2_score(y_pred, y_test))}')
    # print(f'Expected value: {y_test}')
    # print(f'Predicted value: {y_pred}')

heat_input: 5 Nodes

   Expected    Predicted
0    1120.0  1026.489718
1    1280.0  1407.273805
2     960.0  1207.824686
3    1792.0  1847.501715
4    1024.0  1247.757103
5    2048.0  2177.306745
6     936.0   944.801452
7     768.0   944.204556

tensile_strength: 5 Nodes

   Expected   Predicted
0     312.8  341.097190
1     442.6  341.921266
2     396.5  450.176518
3     422.8  342.852705
4     280.2  350.289602
5     304.2  219.013997
6     394.6  337.176520
7     378.5  337.902514

flexural_strength: 5 Nodes

   Expected   Predicted
0     218.4  203.508619
1     238.4  196.992050
2     336.8  422.719301
3     230.0  317.950048
4     196.0  253.300157
5     260.0  234.998458
6     345.0  305.275978
7     394.4  301.691560

hardness_value: 5 Nodes

   Expected   Predicted
0     132.5  121.672793
1     116.2  158.338517
2      90.6  113.175493
3     105.0   85.691807
4     142.2  115.789793
5     110.0   91.760610
6      80.5  106.707566
7      65.0   75.104958

heat_input: 10 Nodes

   Expected    Predicted
0    1120.0  1070.643490
1    1280.0  1358.023654
2     960.0  1021.057170
3    1792.0  1779.965020
4    1024.0   996.302365
5    2048.0  2051.513192
6     936.0   811.488974
7     768.0   690.297934

tensile_strength: 10 Nodes

   Expected   Predicted
0     312.8  322.543970
1     442.6  401.571062
2     396.5  338.421039
3     422.8  411.441676
4     280.2  321.472370
5     304.2  246.966918
6     394.6  413.626449
7     378.5  436.373777

flexural_strength: 10 Nodes

   Expected   Predicted
0     218.4  178.134586
1     238.4  259.430693
2     336.8  360.005343
3     230.0  293.918197
4     196.0  188.068173
5     260.0  177.728034
6     345.0  340.081538
7     394.4  362.189800

hardness_value: 10 Nodes

   Expected   Predicted
0     132.5  114.752927
1     116.2  179.924595
2      90.6  102.664600
3     105.0   75.513588
4     142.2   88.415168
5     110.0  100.079003
6      80.5   89.716907
7      65.0   90.960767

heat_input: 15 Nodes

   Expected    Predicted
0    1120.0  1054.179427
1    1280.0  1336.618771
2     960.0  1128.514659
3    1792.0  1900.391062
4    1024.0  1079.809356
5    2048.0  1858.180529
6     936.0   907.636130
7     768.0   622.482984

tensile_strength: 15 Nodes

   Expected   Predicted
0     312.8  315.717201
1     442.6  355.641746
2     396.5  481.231666
3     422.8  261.664802
4     280.2  312.422501
5     304.2  268.328641
6     394.6  319.034115
7     378.5  316.574957

flexural_strength: 15 Nodes

   Expected   Predicted
0     218.4  173.895509
1     238.4  227.824185
2     336.8  394.339118
3     230.0  189.170781
4     196.0  225.561391
5     260.0  212.809086
6     345.0  261.539634
7     394.4  346.466091

hardness_value: 15 Nodes

   Expected   Predicted
0     132.5  110.668924
1     116.2  152.746473
2      90.6  122.288845
3     105.0   71.346744
4     142.2  124.292034
5     110.0   94.014925
6      80.5   86.957894
7      65.0   69.486238

heat_input: 20 Nodes

   Expected    Predicted
0    1120.0   998.906069
1    1280.0  1437.431972
2     960.0  1272.061138
3    1792.0  2038.065500
4    1024.0   977.356941
5    2048.0  2057.984953
6     936.0  1035.706952
7     768.0   557.828785

tensile_strength: 20 Nodes

   Expected   Predicted
0     312.8  330.233319
1     442.6  396.312337
2     396.5  459.858142
3     422.8  423.371980
4     280.2  273.288342
5     304.2  257.706863
6     394.6  398.367803
7     378.5  341.703435

flexural_strength: 20 Nodes

   Expected   Predicted
0     218.4  182.066817
1     238.4  259.738723
2     336.8  398.925955
3     230.0  319.992672
4     196.0  219.586916
5     260.0  222.994799
6     345.0  330.072452
7     394.4  341.755597

hardness_value: 20 Nodes

   Expected   Predicted
0     132.5  117.775474
1     116.2  164.347814
2      90.6  124.270804
3     105.0  101.773265
4     142.2  119.596551
5     110.0   87.391175
6      80.5  117.578012
7      65.0   61.609145

heat_input: 25 Nodes

   Expected    Predicted
0    1120.0  1065.468416
1    1280.0  1275.929167
2     960.0  1011.609061
3    1792.0  1711.676768
4    1024.0  1162.350803
5    2048.0  2124.438285
6     936.0   891.012015
7     768.0   776.462496

tensile_strength: 25 Nodes

   Expected   Predicted
0     312.8  376.729756
1     442.6  397.269991
2     396.5  486.331171
3     422.8  323.388378
4     280.2  305.404130
5     304.2  297.466164
6     394.6  363.668268
7     378.5  332.264588

flexural_strength: 25 Nodes

   Expected   Predicted
0     218.4  209.247501
1     238.4  240.131383
2     336.8  424.675923
3     230.0  245.726507
4     196.0  247.043162
5     260.0  225.566845
6     345.0  334.060991
7     394.4  333.658266

hardness_value: 25 Nodes

   Expected   Predicted
0     132.5  118.450985
1     116.2  148.066854
2      90.6  125.553880
3     105.0   94.674677
4     142.2  137.027689
5     110.0  111.506588
6      80.5   96.034079
7      65.0   74.414394

heat_input: 30 Nodes

   Expected    Predicted
0    1120.0  1061.556571
1    1280.0  1446.951611
2     960.0   949.050330
3    1792.0  1733.770197
4    1024.0   960.037876
5    2048.0  1882.061689
6     936.0   930.883545
7     768.0   800.556646

tensile_strength: 30 Nodes

   Expected   Predicted
0     312.8  346.926688
1     442.6  375.126679
2     396.5  421.445877
3     422.8  397.510527
4     280.2  319.264292
5     304.2  296.041490
6     394.6  409.521402
7     378.5  409.087500

flexural_strength: 30 Nodes

   Expected   Predicted
0     218.4  209.631538
1     238.4  262.690107
2     336.8  377.449379
3     230.0  276.033216
4     196.0  216.959857
5     260.0  206.517235
6     345.0  349.899959
7     394.4  366.694479

hardness_value: 30 Nodes

   Expected   Predicted
0     132.5  117.263596
1     116.2  167.429246
2      90.6  116.296369
3     105.0   98.792757
4     142.2  115.486229
5     110.0  116.259270
6      80.5  107.824850
7      65.0   85.061705

,Variable,Nodes,R2,MSE,RMSE,MAD,MAPE,TS,Time
0,heat_input,5,0.866119,23419.162020,153.033206,132.772543,12.406672,-6.591421,2.324795
1,tensile_strength,5,-0.387129,4665.562049,68.304920,64.487039,17.816970,3.283911,1.391096
2,flexural_strength,5,0.189111,3891.868344,62.384841,55.612855,20.226037,-0.313528,1.320866
3,hardness_value,5,0.012210,574.307909,23.964722,21.976441,21.374712,-1.194076,0.086536
4,heat_input,10,0.978074,4339.585321,65.875529,54.237029,5.478807,2.741821,0.354603
5,tensile_strength,10,0.521435,1746.363739,41.789517,36.951984,10.421916,1.076606,0.438115
6,flexural_strength,10,0.682065,1822.611988,42.692060,34.469013,13.402632,1.724553,0.268351
7,hardness_value,10,-0.249931,1142.616597,33.802612,27.738273,25.983096,-0.000993,0.285460
8,heat_input,15,0.921825,13601.209048,116.624222,102.356847,8.824864,0.392617,0.283333
9,tensile_strength,15,-0.602981,6573.026631,81.074204,67.665888,17.357950,4.456963,0.401534
10,flexural_strength,15,0.538507,2429.302935,49.287959,45.199403,16.153413,4.145944,0.321520
11,hardness_value,15,0.211109,573.376711,23.945286,21.069603,19.625567,0.484011,0.755854
12,heat_input,20,0.870149,31720.955008,178.103776,150.394840,14.051258,-2.974453,0.136633
13,tensile_strength,20,0.721009,1254.826989,35.423537,27.702533,7.571628,1.853902,0.248454
14,flexural_strength,20,0.519360,2331.718633,48.287873,42.244325,15.887723,-1.328792,0.479185
15,hardness_value,20,0.027883,760.938790,27.585119,23.181378,22.563853,-2.257943,1.585200
16,heat_input,25,0.972600,4898.108856,69.986491,57.346785,4.774581,-1.585913,0.498987
17,tensile_strength,25,-0.046062,3483.651419,59.022465,50.950958,13.513904,0.975007,0.472899
18,flexural_strength,25,0.593354,1957.066684,44.238746,33.955421,11.962965,-1.210722,0.135404
19,hardness_value,25,0.294126,362.527283,19.040149,15.352806,15.653613,-4.150977,0.201807
20,heat_input,30,0.942758,8438.983717,91.863941,70.268506,5.223227,2.321546,0.314478
21,tensile_strength,30,0.354267,1216.244711,34.874700,30.570883,8.364244,-1.397554,0.260884
22,flexural_strength,30,0.766026,1066.206436,32.652817,28.348658,10.749563,-1.653545,0.147220
23,hardness_value,30,-0.376213,682.167545,26.118337,22.341107,22.393097,-3.688896,0.273077